.multiple-select {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.select-boxes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-btn {
  width: 100%;
}

.checkBoxes {
  background-color: #393c46;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 5px 0;
  align-self: normal;
}

.categories-title {
  margin-bottom: 5px;
}

.btn-wrapper {
  width: calc(100% + 4px);
  border-radius: 4px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: all ease 0.3s;
  &:hover {
    background: linear-gradient(#bc75ff, #798fff);
  }
}

.categories-btn {
  display: block;
  width: calc(100% - 4px);
  height: 46px;
  padding: 12px;
  text-align: left;
  border-radius: 4px;
  background-color: #393c46;
  color: #f2f2f2;
  border: none;
  letter-spacing: 2px;
  border: 0px;
  outline: 0;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 16px;
    transform: translate(0, -50%);
    transform: rotateX(0deg);
    background-image: url("../../assets/icons/down-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease 0.3s;
  }
}

.category-element {
  transition: all ease 0.3s;
  &:hover {
    color: #818798;
  }
}

.active {
  &::after {
    transform: rotateX(180deg);
  }
}

@keyframes categories-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.categories-open-animation {
  animation-duration: 0.3s;
  animation-name: categories-animation;
}

.categories-close-animation {
  animation-duration: 0.3s;
  animation-name: categories-animation;
  animation-direction: reverse;
}
