.products-section {
  padding: 2rem;
  flex-grow: 1;
}
.filters-button {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 30px;
  padding: 0;
  border: none;
  background: none;
  color: #f2f2f2;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "";
    width: 24px;
    height: 24px;
    left: -30px;
    position: absolute;
    background: url("../../assets/icons/filter-icon.svg") no-repeat center left;
  }
}

.modal-content .back-link {
  margin-left: 10px;
}

@media (max-width: 750px) {
  .products-section {
    padding: 1rem;
  }
}
