.category-element {
  .checkbox {
    margin: 10px;
    cursor: pointer;
  }
}

label {
  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"] {
  visibility: hidden;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}
.checkmark {
  position: absolute;
  top: 8px;
  left: 10px;
  height: 15px;
  width: 15px;
  border: 2px solid #818698;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: #f2f2f2;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 5px;
  bottom: 3px;
  width: 4px;
  height: 12px;
  border: solid #393c46;
  border-radius: 2px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
